@using VideoRentalStore.Controllers
@model VideoRentalStore.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Customers.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in @Model.Customers)
            {
                <tr>
                    <td>
                        @Html.ActionLink(
                            @customer.Name,
                            "Details",
                            "Customers",
                            new {id = @customer.Id},
                            null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

