@using VideoRentalStore.Controllers
@model VideoRentalStore.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div>
    <table>
        <tr>
            <th>Customer</th>
        </tr>
        @foreach (var customer in @Model.Customers)
        {
            <tr><td>
                @Html.ActionLink(
                    @customer.Name, 
                    "Details", 
                    "Customers", 
                    new { id = @customer.Id},
                    null
                    )
            </td></tr>
        }
    </table>
</div>